<template>
  <div class="holder">
    <form @submit.prevent="addSkill">
      <input v-model="skill" v-validate="'min:7'" type="text" placeholder="Enter a skill you have..." name="skill">
      <transition name="alert-in">
        <p v-if="errors.has('skill')" class="alert"> {{ errors.first('skill') }}</p>
      </transition>
    </form>
    <ul>
      <li v-for="(data, index) in skills" :key="index">
        {{ data.skill }}
        <a-icon type="minus-circle" @click="removeSkill(index)" />
      </li>
    </ul>
    <p>There are the skills that you possess.</p>
  </div>
</template>

<script>
export default {
  name: 'SkillsPage',
  data() {
    return {
      skill: '',
      skills: [
        { 'skill': 'Vue.js' },
        { 'skill': 'Frontend Developer' },
        { 'skill': 'Backend Developer' },
        { 'skill': 'Python' }
      ]
    }
  },
  methods: {
    addSkill() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.skills.push({ skill: this.skill });
          this.skill = '';
        }
      })

    },
    removeSkill(index) {
      this.skills.splice(index, 1)
    }
  }
}
</script>


<style scoped>
.holder {
  width: 700px;
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 1.3rem;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  margin-bottom: 2px;
  color: #3E5252;
}

p {
  text-align: center;
  padding: 20px 0;
  color: gray;
}

input {
  width: 100%;
  border: 0;
  padding: 20px;
  font-size: 1.3rem;
  background-color: #323333;
  color: #687F7F;
}

.alert {
  background: #fdf2ce;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  margin-top: -10px;
  color: #323333;
  border-radius: 2px;
}

.alert-in-enter-active {
  animation: bounce-in .7s;
}

.alert-in-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

i {
  float: right;
}

i:hover {
  color: red;
  transition: ease .3s;
}
</style>
