<template>
  <div>
    <p>About Page</p>
    <nav>
      <NuxtLink to="/">Back to Home Page</NuxtLink>
    </nav>

  </div>

</template>

<script>
export default {
  name: 'AboutPage'
}
</script>



<style scoped>
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 1.3rem;
}

a {
  padding: 10px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  color: rgb(0, 110, 255);
  font-weight: bold;
  margin-right: 15px;
  font-size: 1.3rem;
}
</style>
